<div class="jumbotron">
    <h2>Edit website {{websiteName}}</h2>
    <form class="form-inline" role="form" name="websiteForm" novalidate>
        <div class="form-group">
            <label class="sr-only" for="websiteName">Name</label>
            <input
            type="text"
            class="form-control"
            name="websiteName"
            placeholder="Name"
            ng-model="website.name"
            id="websiteName"
            ng-maxlength="10"
            required
            >
        </div>

        <div class="form-group">
            <label class="sr-only" for="websiteUrl">Website</label>
            <input
            type="url"
            class="form-control"
            name="websiteUrl"
            placeholder="Website"
            ng-model="website.url"
            id="websiteUrl"
            ng-maxlength="50"
            required
            >
        </div>

        <button type="submit" class="btn btn-default" ng-click="editWebsite()">Salva</button>
    </form>
    <ng-include src="alert_visible"></ng-include>
    <div class="alert alert-block alert-danger fade in" ng-show="websiteForm.websiteUrl.$error.maxlength">
        <h3>Errore!</h3>
        <p ng-show="websiteForm.websiteUrl.$error.maxlength">Massimo 50 caratteri consentiti per il sito web</p>
    </div>
    <div class="alert alert-block alert-danger fade in" ng-show="websiteForm.websiteName.$error.maxlength">
        <h3>Errore!</h3>
        <p ng-show="websiteForm.websiteName.$error.maxlength">Massimo 10 caratteri consentiti</p>
    </div>
</div>